[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-vc2019-runtime
name: ICA-VC2019-Runtime
description: Install the Microsoft Visual C 2019 redistributable runtime libraies
advice: 
version: 2019
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-vc2019-runtime (2019-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  7/31/2020 0:31:57
